@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

@media screen and (min-width: 700px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    h2{
        display: none;
    }
    nav{
        margin: 25px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    }
    header, main, footer{
        padding-left: 25px;
        padding-right: 25px;
    }
    .menu-button{
        display: none;
    }
    .viewer{
        margin: 20px;
    }
    .viewer-picture{
        height: 400px;
        width: auto;
    }
}

@media screen and (min-width: 1000px) {
    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    h2{
        display: none;
    }
    nav{
        margin: 50px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    header, main, footer{
        padding-left: 200px;
        padding-right: 200px;
    }
    .menu-button{
        display: none;
    }
    .viewer{
        margin: 40px;
    }
    .viewer-picture{
        height: 550px;
        width: auto;
    }
}

:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: 'Mooli', san-serif;
}

header, footer{
    background-color: var(--primary-color);
    color: var(--text-light);
    font-family: Arial, Helvetica, Sans-serif;
}

header{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

h1{
    font-size: 75px;
    font-family: var(--secondary-font);
}

h3{
    font-family: var(--secondary-font);
    color: var(--text-dark);
    margin: 0;
    padding: 10px;
}

main{
    text-align: center;
    font-family: Arial, Helvetica, Sans-serif;
    background-color: rgb(210, 210, 210);
}

.gallery img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    max-width: 100%;
    min-width: 250px;
    border: solid white 10px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
}

a:visited{
    color: var(--accent-color);
}

a:link{
    color: var(--text-light);
}

nav{
    font-size: 20px;
    display: grid;
}

body{
    margin: 0;
}

h4{
    margin: 0;
}

.menu-button{
    background-color: #52489c;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
    color: #ebebeb;
}

button:hover{
    color: #f45b69;
}

.hide{
    display: none;
}

.viewer{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.75);
    display: grid;
}

.viewer-picture{

    max-width: 90%;
    margin: 0 auto;
}

.close-viewer{
    background: none;
    color: #ebebeb;
    font-size: 20px;
    border: none;
    text-align: right;
}