body {
  font-style: "Roboto";
}

header {
  max-width: 640px;
  margin: 1rem auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: #000; /* Black background color */
  color: #fff; /* White text color */
} 

footer {
  max-width: 640px;
  margin: 1rem auto;
  border: 1px solid #cccccc;
  padding: 1rem;
  background-color: rgb(113, 113, 180);
}

main {
  max-width: 640px;
  margin: 1rem auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: rgb(113, 113, 180); /* Blueish background color */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Single column by default */
  gap: 1rem; /* Equal gap */
}

section {
  padding: 1rem;
  background-color: white;
}

.container {
  max-width: 640px;
  margin: 1rem auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: #e0e9f0; /* Blueish background color */
}

/* Media Query for viewport width 500px or greater */
@media screen and (min-width: 500px) {
  .container {
      max-width: 100%; /* Adjust as necessary */
  }
}
