@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.main-nav{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: end;
    color: #AF1B3F;
    font-family: Helvetica, Arial, sans-serif;
    border-top: 2px solid #EFC69B;
    border-bottom: 2px solid #EFC69B;
    line-height: 50px;
    list-style: none;
    gap: 15px;
    padding-right: 70px;
    margin-bottom: 30px
}
img{
    justify-self: center;
}
#maincontent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
    margin: 0 auto;
}
.title{
    color: #473144;
    font-family: "Lora", Impact, serif;
    text-align: center;
    line-height: 80px;
}
.book-title{
    color: #AF1B3F;
    font-family: "Lora", Impact, serif;
    margin-top: 0;
}
.description{
    font-family: Helvetica, Arial, sans-serif;
    color: #473144;
}
.filter-form{
    font-family: Helvetica, Arial, sans-serif;
    color: #473144;
    grid-row: 1/2;
    grid-column: 3/4;
}
.filter-form p{
    margin-top: 0;
}
.skiptocontent a{
    position: absolute;
    left: -999px;
    top: 10px;
}
.skiptocontent a:focus{
    left: 10px;
}
.date{
    font-size: 20px;
    margin-top: 12px;
}
.article-info{
    grid-column: 2/3;
    padding-left: 15px;
    display: grid;
    grid-template-columns: 1fr;
}
.article-stats{
    grid-column: 1/2;
    font-family: Helvetica, Arial, sans-serif;
    color: #473144;
    text-align: right;
    line-height: 10px;
    border-right: #EFC69B 2px solid;
    padding-right: 15px;
}